<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <a href="/" class="logo-link">
            <div class="logo">AniRecs</div>
        </a>
    </div>
    <div class="container">
        <div class="heading">
            <h1>Find Your Next Anime Here!</h1>
            <p>Search for any anime to get recommendations</p>
        </div>
        <div class="search-box">
            <input type="text" id="anime-title-input" placeholder="e.g. Naruto">
            <button type="button" id="search-btn">Get Recs</button>
        </div>

        <div id="results-container">

        </div>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>